/* Base Styles */

:root {
  --color-primary: #fff;
  --color-secondary: rgb(234, 179, 8);
  --selection-color: #2584ff;
  --background-color-primary: rgb(23, 23, 23);
  --background-color-secondary: rgba(10, 10, 10, 0.75);
  --text-color: rgb(115, 115, 115);
  --btn-background-color: rgb(234, 179, 8);
}
body {
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.6;
  background-color: var(--background-color-primary);
  color: var(--text-color);
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header Styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; /* Ensure it stays on top of other content */
  background: var(--background-color-secondary);
  padding: 0.5rem 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 1rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-top: 0;
  padding-bottom: 0;
}

.flex-list {
  display: flex;
  gap: 20px;
  padding-left: 0;
  margin-top: 2rem;
}

.flex-list li {
  list-style: none;
}

.flex-list a {
  color: rgb(193, 192, 192);
  font-size: 1rem;
  transition: color 0.3s ease;
}

.flex-list a:hover,
.flex-list a:focus {
  color: var(--color-primary);
}

.highlight {
  color: var(--color-secondary);
}

/* Buttons */
.btn-primary {
  background-color: var(--btn-background-color);
  border: 0;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Home Section */
.home-container {
  display: flex;
  gap: 30px;
  padding: 4rem 0;
}

.text-content {
  flex: 1;
  margin: 0;
}

.image-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-content img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  border-radius: 5px;
}
.hero-image__left {
  box-shadow: -10px 10px var(--color-secondary);
}
.hero-image__right {
  box-shadow: 10px 10px var(--color-secondary);
}
/* Logo */
.logo {
  font-size: 2rem;
  padding: 0 0.2rem;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  /* Adjust header for mobile */
  header {
    position: relative;
  }

  .logo {
    padding: 0;
  }
  .nav-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
  }

  .flex-list {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .flex-list li {
    border-bottom: 1px solid var(--text-color);
    padding: 0;
  }

  /* Adjust home section for mobile */
  .home-container {
    flex-direction: column;
    margin-top: 2rem;
    padding: 0 1rem;
  }

  .section-two-text {
    order: 0;
  }
  .section-two-img {
    order: 1;
  }

  .text-content {
    padding: 10px;
  }

  .image-content img {
    max-height: 300px;
  }

  /* Adjust font sizes for mobile */
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  /* Make buttons larger for touchscreens */
  .btn-primary {
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
  }
  /* .first-section {
    margin-top: 2rem;
  } */
  .section-wrapper {
    margin: 0;
  }
}

@media (max-width: 480px) {
  /* Further adjustments for very small screens */
  .home-container {
    gap: 20px;
  }

  .text-content {
    padding: 0;
  }

  .image-content img {
    max-height: 250px;
  }

  .btn-primary {
    width: 100%;
    text-align: center;
  }
  .section-two-text {
    order: 0;
  }
  .section-two-img {
    order: 1;
  }
}

/* testimonial */

.testimonial {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

.services {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.card {
  flex: 1;
  background: rgb(44, 44, 44);
  border-radius: 5px;
  text-align: center;
  padding: 2rem;
  /* min-width: 280px;
  max-width: 280px; */
}
.my-icon {
  fill: var(--color-secondary);
}

@media (max-width: 480px) {
  .testimonial {
    flex-direction: column;
    padding: 0 1rem;
  }
  .service-head {
    padding: 0 1rem;
  }
}

/* sections background colors */

.section-wrapper {
  width: 100%;
  padding: 2rem 0;
}

.bg-primary {
  background-color: var(--background-color-secondary);
}

.bg-secondary {
  background-color: var(--background-color-secondary);
}

/* section spacing */

.first-section {
  margin-top: 5rem;
}

.testimonial-spacing {
  padding: 4rem 0;
}

/* grid components */
.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.grid-container {
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #img-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / -1;
  }
}
@media screen and (max-width: 480px) {
  .grid-container {
    padding: 0 1rem;
  }
}

/* centered sections */

.align-center {
  text-align: center;
}

/* footer */

.footer-contact-info {
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
  padding: 0;
}
.footer-contact-info a {
  color: blue;
  text-decoration: underline;
}

.footer-contact-info > h5 {
  margin: 0.5rem 0;
}

.footer-contact-info__name {
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 1rem;
  color: var(--color-secondary);
}

.footer-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2.5rem;
}
.footer-icons {
  margin: 0.5rem;
  fill: var(--color-secondary);
}

.footer-content {
  padding: 0;
}

.address-pd {
  padding-top: 10px;
}

/* forms */
.input-group {
  padding: 2rem 0;
  max-width: 100%;
}

.input-control {
  padding-right: 0;
}

.input-text {
  /*this rule will be applied only to input element containing the type of text */
  box-sizing: border-box;
  border: 1px solid #848383;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: 100%;
  background: inherit;
  color: var(--text-color);
  transition: box-shadow 0.15sec;
}

.input-text:focus {
  outline: 0;
  border: 1px solid rgb(246, 219, 138);
  box-shadow: 0 0 5px 3px rgba(218, 190, 106, 0.75);
}

.form-group {
  margin-bottom: 1rem;
}

/*Buttons*/

.btn {
  color: #000;
  border-radius: 6px;
  padding: 1rem 1.6rem;
  border: 0;
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
}

.btn--primary {
  background: var(--btn-background-color);
}

/* aos animation */
@media (max-width: 767px) {
  [data-aos] {
    opacity: 1 !important;
    transform: translate(0, 0) !important;
    transition: none !important;
  }
}
